:root{
    --primary-color:#651FFF
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Default class */

.my-text-primary{
    color: var(--primary-color);
}

h2{
  font-weight: 600;
  font-size: 48px;
}



.banner,
.lightning,
.team,
.decentralized{
    padding: 100px 0px;
}  

.hero{
    padding: 50px 0px;
}


.banner{
    background-color: #EBE5FA;
}

.banner h1{
    font-size: 45px;
    font-weight: 700;
}

/* lightning */

.lightning-wrapper > div > div > div{
  background-color: var(--primary-color);
  padding: 50px 60px;
  color: #ffffff;
  border-radius: 30px;
}

.lightning-wrapper > div > div > div a{
    color: #ffffff;
}

/* team */

.team-wrapper > div > div > div{
    padding: 50px 50px 0px 50px;
    border-radius: 30px;
}

.team-wrapper > div:nth-child(1) > div:nth-child(1) > div{
    background-color: #FFF7ED;
}

.team-wrapper > div:nth-child(1) > div:nth-child(2) > div{
    background-color: #E0F7FA;
}

.team-wrapper > div:nth-child(2){
    margin-top: 50px;
    background-color: #ECECFE;
    border-radius: 30px;
}

/* decentralized */

.decentralized-wrapper > div > div:nth-child(2) > div{
   box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
}





/* Responsive  */

@media only screen and (min-width: 1200px) {
    .banner h1{
       font-size: 56px;
    }
}